.table-responsive {
  margin: auto;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para las celdas de la tabla */
th,
td {
  padding: 15px;
  text-align: center;
}

/* Estilos para la fila de encabezado */
tr.header {
  background-color: #35424a;
  color: #ffffff;
}

/* Estilos alternativos para filas impares */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilos para la fila de datos al pasar el mouse */
tr.data-row:hover {
  background-color: #d4d4d4;
}